* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Typography */
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem;
  --font-family-primary: "Inter", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}
body {
  background-color: var(--grey-900);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  background-color: var(--grey-800);
  width: clamp(300px, 90dvw, 495px);

  max-width: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--grey-800);
  border-radius: 20px;
  padding: var(--spacing-md);
  gap: 1rem;
  box-shadow: 8px 8px var(--green);

  animation: fadeIn 0.7s ease-in-out;
  animation-fill-mode: forwards;

  &:hover {
    transform: scale(1.05);
    border: 2px solid var(--green);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 3;
    transform: scale(1);
  }
}

.profile-figure {
  & img {
    width: clamp(100px, 30dvw, 150px);
    height: clamp(100px, 30dvw, 150px);
    object-fit: cover;
    border-radius: 50%;
  }
}
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  & h1 {
    font-size: clamp(1.3rem, 7dvw, 2rem);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  & p:first-of-type {
    font-size: clamp(0.8rem, 4dvw, 1rem);
    color: var(--green);
    font-weight: var(--font-weight-normal);
  }
  & p:last-of-type {
    font-size: clamp(0.4rem, 3.5dvw, 0.9rem);
    color: var(--white);
    padding: 1rem 1rem;
    font-weight: var(--font-weight-normal);
  }
}

.social-links {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  list-style: none;
  padding: var(--spacing-md);
  font-size: clamp(0.4rem, 3.5dvw, 1.2rem);
  & li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(0.5rem, 3.5dvw, 1rem) clamp(1rem, 20dvw, 8rem);
    background-color: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;

    &:hover {
      background-color: var(--green);
      color: var(--grey-900);
      transform: scale(1.05);
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    /* Estilos de foco para acessibilidade O estilo :focus adiciona um contorno amarelo ao 
    redor dos botões quando focados via teclado, 
    melhorando a navegação para usuários que não usam mouse.*/
    &:focus {
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  main :where(h1, p, a, img) {
    transition: none;
  }
}
